/* Nota: O padrão tipo 1 se refere as telas que possuem os seguintes elementos:
- 1 titulo centralizado
- 1 campo de busca e 1 campo de seleção na mesma linha
- 1 tabela
- 1 botão à direita da tabela
*/
@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* Menu */
nav ul a,
nav .brand-logo {
    color: #5f4b8b;
}

/* Sidemenu */
.dropdown-icon {
    margin-right: 0px !important;
}

/* Tipografia */
.title {    
    font-family: 'Oswald', sans-serif;
    letter-spacing: 5px;
    text-align: center;
    color: #5F4B8B;
    text-transform: uppercase;
    z-index: 10;
}

/* Campos de busca e seleção*/
#container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}
.search-box {
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 5px;
    padding-left: 0px !important;
}
.input-field .prefix.active,
.input-field label.active {
    color: #5F4B8B;
}
.input-field input[type=search]:focus,
.input-field input[type=number]:focus,
.input-field input[type=text]:focus,
.input-field input[type=password]:focus {
    border-bottom: 1px solid #5F4B8B !important;
    box-shadow: 0 1px 0 0 #5F4B8B !important;
}
.select-box {
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 5px;
    padding-right: 0px !important;
}
.select-dropdown .dropdown-content li > a, .dropdown-content li > span {
    color: #5F4B8B !important;
}

/* Tabela */
table {
    margin-top: 5px;
    margin-bottom: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #5F4B8B;
}
th {
    color: white;
    background-color: rgba(95, 75, 139, 0.8);
    border: 2px solid #5F4B8B; 
}
td + td { 
    border-left: 2px solid #5F4B8B; 
}
.table-icon-sort {
    margin-left: 0px !important;
    color: white;
}
.table-icon-edit {
    color: #3f51b5;
}
.table-icon-delete {
    color: #f44336;
}

/* Botão */
.button-box {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
#add-button {
    background-color: #5F4B8B;
}
#add-button i,
#submit-button i,
#cancel-button i {
    font-size: 24px;
}

/* Modal */
.modal-content {
    padding-bottom: 0px !important;
}
#modal-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 0px;
}
#submit-button {
    background-color: #4caf50;
}
#cancel-button {
    background-color: #ef5350;
}
/* Checkbox do select multiple */
[type="checkbox"]:not(:checked) + label:before {
    margin-top: -8px;
    border: 2px solid #5F4B8B !important;
}
[type="checkbox"]:checked + label:before {
    margin-top: -8px;
    border-right: 2px solid #7D3F7C !important;
    border-bottom: 2px solid #7D3F7C !important;
}

/* Rodapé */
.footer-copyright {
    overflow: hidden;
    min-height: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: rgba(255, 255, 255, 0.8);
    background-color: #5f4b8b;
}